body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2 {
  color: #333;
  margin-bottom: 15px;
}

/* Estilos gerais para os contêineres */
div {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  /* Azul padrão */
  color: white;
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  /* Azul mais escuro no hover */
}

p {
  margin-top: 10px;
  font-style: italic;
  color: #777;
}

/* Estilos específicos para a área de ações */
.button-container {
  margin-bottom: 20px;
}

/* Contêiner dos botões de ação (Ligar, Desligar, etc.) */
.container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para a área de exibição das informações do veículo */
#informacoesVeiculo {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  background-color: #f9f9f9;
  line-height: 1.6;
}

/* Responsividade */
@media (max-width: 600px) {

  input[type="text"],
  input[type="number"] {
      width: 100%;
      /* Campos ocupam toda a largura em telas pequenas */
  }

  button {
      margin-bottom: 10px;
      /* Espaçamento entre botões em telas pequenas */
  }
}

/* Estilos para as imagens */
.veiculo-imagem {
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
}

/* Estilos para o indicador de status */
.status-ligado {
  color: green;
}

.status-desligado {
  color: red;
}

/* Estilos para a barra de progresso */
.progress-bar {
  width: 100%;
  height: 25px; /* Aumentei a altura para melhor visualização */
  background-color: #eee;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden; /* Garante que a barra interna não ultrapasse */
  position: relative; /* Necessário para o posicionamento do texto */
}

.progress {
  height: 100%;
  background-color: #4CAF50;
  border-radius: 5px;
  width: 0%;
  transition: width 0.3s ease;
  display: flex; /* Para o alinhamento vertical */
  align-items: center; /* Centraliza verticalmente */
  justify-content: left; /* Alinha o conteúdo à esquerda */
  color: white; /* Cor do texto */
  font-weight: bold;
  font-size: 14px;
  padding-left: 10px; /* Espaço para o texto não encostar na borda */
  box-sizing: border-box; /* Inclui o padding na largura */
}